### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [6]:
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
uniqueplayercount = player_demographics.drop_duplicates()
uniqueplayercount.count()[0]
uniqueplayercount.head()

  Gender             SN  Age
0   Male        Lisim78   20
1   Male    Lisovynya38   40
2   Male     Ithergue48   24
3   Male  Chamassasya86   24
4   Male      Iskosia90   23

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
#count unique items
unique_items_count=len(purchase_data["Item ID"].unique())

#calc avg price
avg_price=purchase_data["Price"].mean()

#format avg price
formatted_avg_price=format(avg_price, ",.2f")

#count purchases
purchase_count=purchase_data["Price"].count()

#sum total rev
total_revenue=purchase_data["Price"].sum()

#format total rev
total_revenue_format=format(total_revenue, ",.2f")

#calc count of purchases
purchase_count=purchase_data["Price"].count()

# print titles
print('Number of Unique Items: '+str(unique_items_count))
print('Average Price: $'+str(formatted_avg_price))
print('Number of Purchases: ' +str(purchase_count))
print('Total Revenue: $' +str(total_revenue_format))

Number of Unique Items: 183
Average Price: $3.05
Number of Purchases: 780
Total Revenue: $2,379.77

In [16]:
#summarize data and put into new dataframe
summary_data = {'Number of Unique Items': [unique_items_count],
          'Average Price': [formatted_avg_price],
          'Number of Purchases': [purchase_count],
          'Total Revenue': [total_revenue_format]}
summary_df = pd.DataFrame(summary_data)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183          3.05                  780      2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [17]:
# find count of gender
gender_count =uniqueplayercount["Gender"].value_counts()
gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [18]:
#calculate total count
total_players=uniqueplayercount['Gender'].count()

#to calc % per gender
percentcount=gender_count.div(total_players)
percentageformat=(100. * percentcount / percentcount.sum()).round(2).astype(str) + '%'
percentageformat

Male                     84.03%
Female                   14.06%
Other / Non-Disclosed     1.91%
Name: Gender, dtype: object

In [19]:
#put % of gender and count into new dataframe
genderdemo_data = pd.DataFrame({'Percentage of Players': percentageformat,
                'Total Count': gender_count})
genderdemo_data

                      Percentage of Players  Total Count
Male                                 84.03%          484
Female                               14.06%           81
Other / Non-Disclosed                 1.91%           11

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame


## Purchasing Analysis (Gender)

In [26]:
#create groupby
genderdemogroupby=purchase_data.groupby(['Gender'])
genderdemogroupby.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [31]:
#create groupby count purchase
# genderdemogroupcount=genderdemogroupby.value_counts()

In [27]:
#create groupby sum purchase price
genderdemogroupsum=genderdemogroupby['Price'].sum()
genderdemogroupsum.head()

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [30]:
#create groupby avg purchase price
genderdemogroupavg=genderdemogroupby["Price"].mean()

#create count of people
uniqueplayercount

#create groupby avg purchase price per person
genderdemogroupavgpp= genderdemogroupsum/gender_count

# create summary data
#summarize data and put into new dataframe
summary_data_groupby = {'Purchase Count': gender_count,
          'Average Purchase Price': genderdemogroupavg,
          'Total Purchase Value': genderdemogroupsum,
          'Avg Total Purchase per Person':genderdemogroupavgpp}
summary_groupdf = pd.DataFrame(summary_data_groupby)
summary_groupdf

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,81,3.203009,361.94,4.468395
Male,484,3.017853,1967.64,4.065372
Other / Non-Disclosed,11,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame